<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="background-color: rgb(110, 147, 226)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="http://192.168.1.68:3000/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="http://192.168.1.68:3000/users"
            >USER</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="http://192.168.1.68:3000/gastos/form"
            >Formulario</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="http://192.168.1.68:3000/gastos/show"
            >Gastos</a
          >
        </li>
      </ul>
      <div class="dropdown" style="margin-right: 60px">
        <a
          class="btn btn-ligth dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user"></i>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="http://192.168.1.68:3000/sesion"
              >Iniciar Sesión</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="http://192.168.1.68:3000/sesion/singin"
              >Cerar Sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
