<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body>
    <header><%- include('layouts/header') %></header>

    <section>
      <div class="container text-center">
        <h1>Crear usuario</h1>
      </div>
    </section>


    <div class="container" mb-3 style="width: 400px;">
      <form action="/users/crear" method="post">
        <div class="input-group">
          <div class="form-row">
            <div class="col mb-3">
              <input name="nombre" type="text" class="form-control" placeholder="Nombre" required>
            </div>
            <div class="col">
              <input name="apellido" type="text" class="form-control" placeholder="Apellido" required>
            </div>
        <br />
        <div class="form-row">
          <div class="form-group mb-3">
            <label for="inputEmail4">Email</label>
            <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
          </div>
          <div class="form-group mb-3">
            <label for="inputPassword4">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
          </div>
          <br>  
        <div class="custom-file" mb-3>
          <label class="custom-file-label" for="validatedCustomFile"
            >Subir Foto</label
          >
          <input
            type="file"
            class="custom-file-input"
            id="validatedCustomFile"
            
          />
        </div>
        <br>
        <div class="container text-center mb-3">
            <input class="btn btn-success btn-lg" type="submit" value="Guardar">
        </div>

      </form>
    </div>

    <footer><%- include('layouts/footer') %></footer>
  </body>
</html>
