<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body>
    <header><%- include('layouts/header') %></header>

    <section>
      <div class="container text-center">
        <h1>Crear usuario</h1>
      </div>
    </section>

    <footer><%- include('layouts/footer') %></footer>
  </body>
</html>
