<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('layouts/head') %>
  </head>

  <body>
    <header><%- include('layouts/header') %></header>

    <div class="container-sm miClase" style="width: 360px">
      <form action="/gastos/form" method="post" form-group>
        <div class="form-group">
          <label for="categori">Seleciona una categoria</label>
          <select
            name="categoria"
            size="3"
            class="form-control"
            id="categori"
            required
          >
            <option value="1">Despensa</option>
            <option value="2">Deudas</option>
            <option value="3">Oxxo</option>
            <option value="4">Entretenimiento</option>
            <option value="5">Escuela</option>
            <option value="6">Fines De Semana</option>
            <option value="7">Gastos Fijos</option>
            <option value="8">Otros</option>
            <option value="9">Personales</option>
            <option value="10">Salud</option>
            <option value="11">Transporte</option>
            <option value="12">Diarios</option>
          </select>
        </div>
        <br />
        <div class="mb-3">
          <input
            class="form-control form-control-sm form-control-plaintext"
            type="text"
            value="1"
            aria-label="Ejemplo de .form-control-sm"
            name="usuario"
            readonly
            hidden
          />
        </div>
        <div class="form-group">
          <label for="fecha" class="form-label">Fecha de la Compra</label>
          <input
            type="date"
            name="fecha"
            id="fecha"
            class="form-control"
            required
          />
        </div>
        <br />

        <div class="form-group">
          <label for="detail" class="form-label"
            >Detalles de la compra (opcional)
          </label>
          <textarea
            class="form-control"
            name="detail"
            id="detail"
            rows="3"
          ></textarea>
        </div>

        <br />

        <div class="form-group">
          <label for="monto">monto en pesos $</label>
          <input
            type="number"
            name="monto"
            id="monto"
            required
            class="form-control"
            placeholder="$0.0"
            step="any"
          />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>

    <footer><%- include('layouts/footer') %></footer>
  </body>
</html>
