
<head>
  
  <%- include('layouts/head') %>
  

  
</head>
<body>
<header>
  <%- include('layouts/header') %>
</header>

  <div class="container">
    <h1><pre>Inicio de pagina</pre></h1>
    
  </div>

  <footer>
    <%- include('layouts/footer') %>
  </footer>
</body>
</html>