<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('layouts/head') %>
    <style>
      body section {
        height: 100vh;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
      }
      section {
        /* width: 500px; */
      }
    </style>
  </head>
  <body>
    <header><%- include('layouts/header') %></header>

    <section>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Categoria</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha</th>
            <th scope="col">Detalle</th>
            <th scope="col">Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
           

    <footer><%- include('layouts/footer') %></footer>
  </body>
</html>
